.p-footer
  font-family: $fontFamily_en
  font-size: $fontSize_s
  padding: 110px 70px 55px
  margin-top: 90px
  position: relative
  z-index: $zFooter
  > a
    display: block
    transform: rotate(180deg)
    position: absolute
    top: 0
    right: 70px


// SP
@media screen and (max-width: $breakPoint)
  .p-footer
    padding: 60px 20px 40px
    margin-top: 120px
    > a
      right: 40px
