.p-introduction
  padding: 0 70px
  .p-introduction_xxx
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    position: relative
    > p
      margin-top: -50px
    > a
      display: block
      position: absolute
      bottom: 35px
  .p-introduction_lede
    margin-top: 88px
    p
      line-height: 1
      width: 546px
      margin: 0 auto
      &:nth-child(2)
        margin-top: 60px
      &:nth-child(3)
        margin-top: 55px
  .p-introduction_about
    text-align: center
    margin-top: 329px
    p
      font-size: $fontSize_l
      font-weight: lighter
      line-height: 2
    div
      margin-top: 93px
