@keyframes paragraphAnimation
  0%
    opacity: 0
    transform: translateY(100px) scale(1.05)
  100%
    opacity: 1
    transform: translateY(0) scale(1)

.p-introduction
  padding: 0 70px
  .p-introduction_title
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    position: relative
    > p
      margin-top: -50px
    > div
      text-align: center
      width: 100%
      position: absolute
      left: 0
      bottom: 35px
      > a
        display: inline-block
  .p-introduction_lede
    height: 100vh
    margin-top: 90px
    p
      line-height: 1
      &:nth-child(2)
        margin-top: 60px
      &:nth-child(3)
        margin-top: 55px
  .p-introduction_ledeParagraph
    opacity: 0
    transform: translateY(50px) scale(1.05)
    &.p-introduction_ledeParagraph-show
      animation: paragraphAnimation 2s ease-out .8s
      animation-fill-mode: forwards
  .p-introduction_ledeEnd
    transition: opacity 1s 1s ease-out, transform 1s 1s ease-out
    opacity: 0
    transform: translateX(20px)
    &.p-introduction_ledeEnd-show
      opacity: 1
      transform: translateX(0)
  .p-introduction_about
    text-align: center
    margin-top: 329px
    p
      font-size: $fontSize_l
      font-weight: lighter
      line-height: 2
    div
      margin-top: 93px


// SP
@media screen and (max-width: $breakPoint)
  .p-introduction
    width: 100%
    padding: 0 0
    overflow-x: hidden
    .p-introduction_title
      > p
        width: 130px
        margin-top: -100px
      > div
        bottom: 80px
    .p-introduction_lede
      padding: 0 30px 40px
      p
        &:nth-child(2),
        &:nth-child(3)
          margin-top: 40px
        &:nth-child(3) img
          width: 88px
    .p-introduction_about
      margin-top: 120px
      p
        line-height: 1.5
      div
        padding: 0 45px
        margin-top: 70px
