.p-works
  padding: 0 70px
  margin-top: 217px
  > div
    margin: 77px 76px 0
  > div > p
    letter-spacing: .75px
    line-height: 1
  .c-flexbox
    min-height: 185px
    margin: 96px 0 0 110px
    > .c-flexbox_col6:nth-child(1)
      flex-basis: 385px
    > .c-flexbox_col6:nth-child(1) p:first-child
      font-size: $fontSize_l
      letter-spacing: .75px
      line-height: 1
      margin-top: 65px
    > .c-flexbox_col6:nth-child(1) p:last-child
      line-height: 1
      margin-top: 22px
      a
        font-family: $fontFamily_en
        font-weight: lighter
        letter-spacing: 1px
        padding-bottom: 17px
        background-image: url("/img/arrow_black.svg")
        background-position: left bottom
        background-repeat: no-repeat
        background-size: 41px 4px
        display: inline-block
  .p-works_social
    font-size: 0
    margin: 74px 0 0 186px
    .c-socialIconLink
      display: inline-block
      &:nth-child(1)
        width: 39px
      &:nth-child(2)
        width: 19px
        margin-left: 65px
      &:nth-child(3)
        width: 37px
        margin-left: 65px


// SP
@media screen and (max-width: $breakPoint)
  .p-works
    width: 100%
    padding: 0 20px
    margin-top: 130px
    overflow-x: hidden
    > div
      padding: 0 20px
      margin: 50px 0 0
    > div > p
      font-size: $fontSize_xs
    .c-flexbox
      min-height: auto
      margin: 74px 0 0 0
      display: block
      > .c-flexbox_col6:nth-child(1)
        width: 140px
        padding-bottom: 23px
        margin: 0 auto
        border-right: 0 none transparent
      > .c-flexbox_col6:nth-child(1) p:first-child
        font-size: $fontSize_m
        margin-top: 0
      > .c-flexbox_col6:nth-child(1) p:last-child
        font-size: $fontSize_xxs
        margin-top: 12px
        a
          padding-bottom: 8px
      > .c-flexbox_col6:nth-child(2)
        width: 100%
        border-top: 1px solid #231815
    .p-works_social
      width: 165px
      height: 27px
      margin: 25px auto 0
      display: flex
      justify-content: space-between
      align-items: center
      .c-socialIconLink
        display: block
        &:nth-child(1)
          width: 27px
          height: 27px
        &:nth-child(2)
          width: 14px
          height: 26px
          margin-left: 0
        &:nth-child(3)
          width: 26px
          height: 21px
          margin-left: 0


// Safari
_::-webkit-full-page-media, _:future, :root .p-works .c-flexbox > .c-flexbox_col6:nth-child(1) p:last-child a
  font-weight: normal
