.p-works
  padding: 0 70px
  margin-top: 217px
  > div
    margin: 77px 76px 0
  > div > p
    letter-spacing: .75px
    line-height: 1
  > div > .c-flexbox
    min-height: 185px
    margin: 96px 0 0 110px
    > .c-flexbox_col6:nth-child(1)
      flex-basis: 385px
    > .c-flexbox_col6:nth-child(1) p:first-child
      font-size: $fontSize_l
      letter-spacing: .75px
      line-height: 1
      margin-top: 65px
    > .c-flexbox_col6:nth-child(1) p:last-child
      line-height: 1
      margin-top: 22px
      a
        font-family: $fontFamily_en
        font-weight: lighter
        letter-spacing: 1px
  .p-works_social
    font-size: 0
    margin: 74px 0 0 186px
    .c-socialIconLink
      &:nth-child(1),
      &:nth-child(1) a
        width: 39px
        height: 39px
      &:nth-child(2),
      &:nth-child(2) a
        width: 19px
        height: 37px
      &:nth-child(3),
      &:nth-child(3) a
        width: 37px
        height: 30px


// SP
@media screen and (max-width: $breakPoint)
  .p-works
    width: 100%
    padding: 0 20px
    margin-top: 130px
    > div
      padding: 0 20px
      margin: 50px 0 0
    > div > p
      font-size: $fontSize_xs + .1
      line-height: 1.5
    > div > .c-flexbox
      min-height: auto
      margin: 74px 0 0 0
      display: block
      > .c-flexbox_col6:nth-child(1)
        width: 140px
        padding-bottom: 23px
        margin: 0 auto
        border-right: 0 none transparent
      > .c-flexbox_col6:nth-child(1) p:first-child
        font-size: $fontSize_m
        margin-top: 0
      > .c-flexbox_col6:nth-child(1) p:last-child
        font-size: $fontSize_xs
        margin-top: 12px
        a
          padding-bottom: 8px
      > .c-flexbox_col6:nth-child(2)
        width: 100%
        border-top: 1px solid #231815
    .p-works_social
      width: 165px
      height: 27px
      margin: 25px auto 0
      .c-socialIconLink
        &:nth-child(1),
        &:nth-child(1) a
          width: 27px
          height: 27px
        &:nth-child(2),
        &:nth-child(2) a
          width: 14px
          height: 26px
        &:nth-child(3),
        &:nth-child(3) a
          width: 26px
          height: 21px


// Safari
_::-webkit-full-page-media, _:future, :root .p-works > div > .c-flexbox > .c-flexbox_col6:nth-child(1) p:last-child a
  font-weight: normal
