<div class="p-business">
  <h1 class="c-heading1" data-kkhk-business-h1>Business</h1>
  <div class="p-business_products">
    <h2 class="c-heading2" data-kkhk-business-h2_1>Our Products</h2>
    <div class="p-business_productsItem1">
      <div class="c-flexbox">
        <div class="c-flexbox_col6"><img src="<%= config.path.img; %>/three.svg" width="99" height="157" alt="three"></div>
        <div class="c-flexbox_col6">
          <p>「一日を変える3分を」をコンセプトとした<br>AI提案型ライフスタイルWEBマガジン。</p>
          <p>three</p>
          <p><a class="c-arrowLink" href="https://threemedia.jp" target="_blank">https://threemedia.jp</a></p>
          <hr>
          <p>仕事に遊びに忙しいユーザーに向けて、ファッション/音楽/インテリア/フードライフスタイル/テクノロジー/カルチャー / アートなどのコンテンツから、「こんな情報が欲しかった」をピンポイントでオススメします。 </p>
        </div>
      </div>
    </div>
    <div class="p-business_productsItem2">
      <p>Next Projects soon...</p>
    </div>
  </div>
  <div class="p-business_works">
    <h2 class="c-heading2" data-kkhk-business-h2_2>Client Works</h2>
    <div class="p-business_worksItem1">
      <p>ブランドからメディアまで、数多くのクライアント支援の実績。<br>クライアントの顧客のことを徹底的に考え、企画からアウトプットまでワンストップでご支援します。</p>
      <table>
        <tbody>
          <tr>
            <th><span>Consulting</span></th>
            <td>Marketing</td>
            <td>DMP</td>
            <td>CRM</td>
            <td>広告</td>
            <td>Data</td>
          </tr>
          <tr>
            <th><span>Design</span></th>
            <td>WEB</td>
            <td>Graphic</td>
            <td>DTP</td>
            <td>Writing</td>
            <td>CI / VI</td>
          </tr>
          <tr>
            <th><span>Engineering</span></th>
            <td>アプリ</td>
            <td>フロント<br class="c-visible-sp">エンド</td>
            <td>バック<br class="c-visible-sp">エンド</td>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <th><span>Technology</span></th>
            <td>AI</td>
            <td>IoT</td>
            <td>機械学習</td>
            <td>深層学習</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
