<div class="p-sideicons">
  <ul>
    <li><a href="#"><img src="<%= config.path.img; %>/mail.svg" width="17"></a></li>
    <li class="c-socialIconLink c-visible-pc"><%- include('_iconlink', {type: 'instagram', width: 17}); %></li>
    <li class="c-socialIconLink c-visible-pc"><%- include('_iconlink', {type: 'facebook', width: 8}); %></li>
    <li class="c-socialIconLink c-visible-pc"><%- include('_iconlink', {type: 'twitter', width: 16}); %></li>
  </ul>
</div>
