<div class="p-works">
  <h1>Works</h1>
  <div>
    <p>kokuhakuの活動をnoteやSNSで更新・公開しております。</p>
    <div class="c-flexbox c-flexbox-bordered">
      <div class="c-flexbox_col6">
        <p>note</p>
        <p><a href="https://note.mu/kokuhaku" target="_blank">https://note.mu/kokuhaku</a></p>
      </div>
      <div class="c-flexbox_col6">
        <ul class="p-works_social">
          <li><a href="https://www.instagram.com/kokuhaku_inc/" target="_blank"><img src="<%= config.path.img; %>/instagram.svg" width="39" alt="instagram"></a></li>
          <li><a href="https://www.facebook.com/kokuhakuinc/" target="_blank"><img src="<%= config.path.img; %>/facebook.svg" width="19" alt="facebook"></a></li>
          <li><a href="https://twitter.com/kokuhaku_inc" target="_blank"><img src="<%= config.path.img; %>/twitter.svg" width="37" alt="twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
