<div class="p-works">
  <h1 class="c-heading1" data-kkhk-works-h1>Works</h1>
  <div>
    <p>kokuhakuの活動をnoteやSNSで更新・公開しております。</p>
    <div class="c-flexbox c-flexbox-bordered">
      <div class="c-flexbox_col6">
        <p>note</p>
        <p><a class="c-arrowLink c-arrowLink-bottom" href="https://note.mu/kokuhaku" target="_blank">https://note.mu/kokuhaku</a></p>
      </div>
      <div class="c-flexbox_col6">
        <ul class="p-works_social c-flexbox c-flexbox-justifyBetween c-flexbox-alignCenter">
          <li class="c-flexbox_col c-socialIconLink"><%- include('_iconlink', {type: 'instagram'}); %></li>
          <li class="c-flexbox_col c-socialIconLink"><%- include('_iconlink', {type: 'facebook'}); %></li>
          <li class="c-flexbox_col c-socialIconLink"><%- include('_iconlink', {type: 'twitter'}); %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
