<!DOCTYPE html>
<html>
<head>
<%- include('_meta'); %>
</head>
<body>
  <div class="l-wrapper">
    <header>
      <nav></nav>
    </header>
    <main>

    </main>
    <footer>
    </footer>
  </div>
<script src="/js/scripts.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
